<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ .title }}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/layui/css/layui.css" rel="stylesheet">
    <link href="assets/css/index.css" rel="stylesheet">
</head>
<body>
<div class="layui-header ws-header ws-bg-light">
    <div class="layui-container">
        <div class="ws-logo">
            <a class="logo" style="font-size:40px;" href="/">电影</a>
        </div>
        <div class="ws-header-assist">
            <div class="layui-form layui-hide-xs ws-search" lay-filter="LAY-ws-header-component">
                <div class="layui-form-select">
                    <div class="layui-select-title">
                        <input type="text" id="searchMovies" placeholder="搜索" value="" class="layui-input">
                        <i class="layui-edge"></i>
                    </div>
                </div>
                <i class="layui-icon layui-icon-search"></i>
            </div>
            <div class="layui-hide-xs ws-notice"></div>
        </div>

        <div class="ws-header-menu">
            <ul class="layui-nav layui-bg-gray ws-bg-light" id="LAY_NAV_TOP">
                <li class="layui-nav-item" data-dir="docs">
                    <button type="button" id="refresh" class="layui-btn layui-btn-primary layui-btn-radius">刷新</button>
                </li>
                <li class="layui-nav-item layui-this" data-dir="docs">
                    <a href="#">电影</a>
                </li>
                <li class="layui-nav-item" data-dir="notes">
                    <a href="/setting.html">设置</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="layui-container ws-container">
    <table class="layui-table" lay-skin="nob" style="margin-left: 70px;">
        <colgroup>
            <col>
            <col width="150">
        </colgroup>
        <thead>
        <tr>
            <th>电影名</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="moviesTbody"></tbody>
    </table>
</div>





</body>
<script src="assets/layui/layui.js"></script>
<script>
    let $, layer;
    layui.use(['form'], function(){
        $ = layui.jquery, layer = layui.layer;
        let form = layui.form;
        searchMovies(); //自动加载电影

        $("#searchMovies").keypress(function (e) {
            if (e.which == 13) {
                searchMovies($(this).val())
            }
        });

        $("#refresh").click(function() {
            $.ajax({
                url: "/reload",
                type: "POST",
                dataType: "json",
                success: function(json, testStatus, xhr) {
                    if (json.success) {
                        location.reload();
                    } else {
                        failedAlert(json.message);
                    }
                },
                error: function () {
                    failedAlert("服务器错误")
                }
            });
        });

        $(document).on('click','.movie-item',function(){
            successAlert("正在唤醒播放器");
            var _this = $(this);
            $.ajax({
                url: "/play",
                type: "POST",
                dataType: "json",
                data: {"movieName": $(_this).data('name'), "movieDir": $(_this).data('dir')},
                success: function(json, testStatus, xhr) {
                },
                error: function () {
                    failedAlert("服务器错误")
                }
            });
        });

        function searchMovies(movieName) {
            $.ajax({
                type: "get",
                url: "/movies",
                dataType: "json",
                data: {"movieName": movieName},
                success: function (json) {
                    var _moviesHtml = '';
                    $.each(json.data.movie, function(index, item){
                        _moviesHtml += '<tr>\n' +
                            '                <td><a title="'+item.path+'">'+item.name+'</a></td>\n' +
                            '                <td><button type="button" data-name="'+item.name+'" data-dir="'+item.path+'" class="layui-btn layui-btn-xs layui-btn-normal movie-item">播放</button></td>\n' +
                            '            </tr>';
                    });
                    if (_moviesHtml == '') {
                        _moviesHtml += '<div class="row">\n' +
                            '<div class="col-xs-12 col-sm-6 col-md-12"><em>没有匹配记录<small></div>\n' +
                            '</div>';
                    }
                    $("#moviesTbody").empty().append(_moviesHtml);
                }
            });
        }

        function successAlert(message) {
            layer.msg(message, {icon: 6});
        }

        function failedAlert(message) {
            layer.msg(message, {icon: 5});
        }
    });
</script>
</html>















